@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap');

html body .artist {
    height: 100vh;
    background: white;
}

.a_header {
    background: #ffffff;
    height: 30px;
}

.a_header h1 {
    padding-top: 15px;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

.search_box {
    border-bottom: solid 1px #cccccc;
}

.searchbox {
    width: 300px;
    height: 70px;
    margin-top: 20px;
    background: #fafafa;
    border-radius: 30px;
    display: flex;
}

.search-form {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 20px;
}

.search_input {
    border-radius: 10px;
    width: 200px;
    margin-right: 10px;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
}

.inbtn {
    padding-top: 20px;
}

.btn1 {
  color: #fff;
  background-color: #000000;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn1:hover {
  color: #fff;
  background: #f56500;
}

.btn1 a {
    color: white;
    padding: 10px;
}

.icon {
    border:1px solid #ccc;
}

#user-icon {
   	height: 160px;
	width: 160px;
	object-fit: cover;
}

.a_body {
    width: 1500px;
    margin: 0 auto;
    padding-top: 50px;
}

.artist_list {
    display: flex;
    padding-top: 20px;
}

.content_box {
    box-sizing: border-box;
    margin-right: 2%;
    margin-bottom: 1%;
    padding: 20px;
    width: 200px;
}

.content_box p {
    padding-top: 5px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
}
