@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap');

html, body, .home{
    height: 100vh;
    background: white;
    background-color: #ffffff;
}

#user_icon {
    width:  50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;  
    display: inline-block;   
    object-fit: cover;
}

#postimage {
    border-radius: 20px;
    object-fit: cover;
}

.posts {
    padding: 0.5em 1em;
    border-bottom: solid 2px #e0e0e0;
}

.posts:hover {
    background-color: #fafafa;
}

.homebody {
    width: 650px;
    margin: 0 auto;
}

.hh {
  
    height: 60px;
    width: 650px;
    background-color: #fafafa;
}

.hh1 h1 {
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

.postlist {
    border-left: solid 1px #e0e0e0;
    border-right: solid 1px #e0e0e0;
}

.name {
    padding-left: 10px;
    font-weight: bold;
}

.postdate {
    padding-left: 10px;
}

.post-header {
    padding-bottom: 5px;
    border-bottom: solid 1px #e0e0e0;  
}

.postbody {
    padding-top: 30px;
}

.postbody p {
    white-space: pre-wrap;
}

.likes_comment {
    padding-top: 30px;
    display: flex;
}

.likes_comment_btn {
    padding-top: 10px;
    display: flex;
}

.comment {
    padding-left: 50px;
}

.commentform {
    display: flex;
    padding-left: 100px;
}

.commentbtn {
    padding-left: 50px;
    padding-top: 5px;
}

.btn {
  color: #fff;
  background-color: #000000;
  border-radius: 100vh;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn:hover {
  color: #fff;
  background: #f56500;
}

.btn a {
    color: white;
    padding: 20px;
}

.right{
    float: right;
    width: 760px;
}

.followlist {
    width: 300px;
    height: 500px;
    margin-top: 200px;
    background: #fafafa;
    border-radius: 30px;
    position: fixed;
}

.searchbox {
    width: 300px;
    height: 70px;
    margin-top: 120px;
    background: #fafafa;
    border-radius: 30px;
    position: fixed;
    display: flex;
}

.search-form {
    padding-top: 15px;
    text-align: center;
}

.search_input {
    border-radius: 10px;
    width: 200px;
    margin-right: 10px;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
}

.inbtn {
    padding-top: 20px;
}

.btn1 {
  color: #fff;
  background-color: #000000;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn1:hover {
  color: #fff;
  background: #f56500;
}

.btn1 a {
    color: white;
    padding: 10px;
}

.f_header {
    padding-left: 20px;
    padding-top: 10px;
}

.f_header p {
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

.follows {
    padding-left: 20px;
    padding-top: 20px;
}

.follows p {
    color: #9a9a9a;
    margin-bottom: 10px;
}