.sidebar {
    position: fixed;
    left: 0;
    background-color: #ffffff;
    width: 250px;
    height: 100%;
}


.sidebar_body {
    border-right: 1px solid #000;
}

.header {
    text-align: center;
    line-height: 70px;
}

.sidebar ul a {
    padding-left: 20px;
    line-height: 50px;
}
