@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap');

html body .songs{
    height: 100vh;
    background: white;
}

#jacket_photo {
	height: 160px;
	width: 160px;
	object-fit: cover;
}

.s_header {
    background: #ffffff;
   
}

.s_header h1 {
    padding-top: 15px;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

.s_body {
    width: 1500px;
    margin: 0 auto;
    padding-top: 50px;
}

.search {
    border-bottom: solid 1px #cccccc;
}

.searchbox {
    width: 300px;
    height: 70px;
    margin-top: 20px;
    background: #fafafa;
    border-radius: 30px;
    display: flex;
}

.search-form {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 20px;
}

.search_input {
    border-radius: 10px;
    width: 200px;
    margin-right: 10px;
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
}

.inbtn {
    padding-top: 20px;
}

.btn1 {
  color: #fff;
  background-color: #000000;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn1:hover {
  color: #fff;
  background: #f56500;
}

.btn1 a {
    color: white;
    padding: 10px;
}

.genre {
    padding-bottom: 20px;
}

.genre p {
    font-family: 'Noto Sans JP', sans-serif;
}

.genrebtn {
    background-color: #000000;
    border-radius: 100vh;
}

.genrebtn:hover {
    background: #ffffff;
    color: #000000;
}

.genrebtn span {
    margin: 50px 15px;
    color: white;
}

.genrebtn span:hover {
    color: #000000;
}

.songs_list {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.content_box {
    box-sizing: border-box;
    border:1px solid #ccc;
    margin-right: 2%;
    margin-bottom: 1%;
    padding: 20px;
    width: 200px;
    background-color: #202020;
    
}

.title {
    font-family: 'Noto Sans JP', sans-serif;
   
    color: white;
}

.artist {
    padding-top: 10px;
    color: #a0a0a0;
    font-size: 2px;
}

.genrename a {
    color: #a0a0a0;
    font-size: 2px;
}

.tn {
    margin-top: 5px;
}

.btn {
    padding-top: 5px;
}
audio {
    width: 160px;
    height: 15px;
}